fastapi~=0.111.1
uvicorn~=0.30.3
sqlalchemy~=2.0.31
pydantic~=2.8.2
python-jose[cryptography]
passlib[bcrypt]~=1.7.4
python-multipart
cloudinary~=1.40.0
qrcode~=7.4.2
pillow
python-dotenv~=1.0.1
psycopg2-binary
pydantic-settings
psycopg2
bcrypt~=4.2.0
starlette~=0.37.2