fastapi
uvicorn
sqlalchemy
pydantic
psycopg2-binary
python-jose
passlib[bcrypt]
alembic
cloudinary
qrcode
pillow
python-dotenv
pydantic-settings
psycopg2
bcrypt
sqlalchemy[asyncio] 
asyncpg
greenlet
python-jose[cryptography]

