{% extends "base.html" %}

{% block title %}Admin Panel - PhotoShare{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Admin Area (Accessible only to Admins) -->
        {% if role == 'admin' %}
        <div class="col-md-6 d-flex justify-content-center">
            <div class="text-center d-flex justify-content-center flex-column align-items-center p-0 m-2 w-75">
                <h4>Admin Area</h4>
                <div class="list-group w-100">
                    <a href="/admin/ban-user" class="list-group-item list-group-item-action btn-admin">Ban User</a>
                    <a href="/admin/delete-photo" class="list-group-item list-group-item-action btn-admin">Delete Photo</a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Moderation Area (Accessible to Admins and Moderators) -->
        <div class="col-md-6 d-flex justify-content-center">
            <div class="text-center d-flex justify-content-center flex-column align-items-center p-0 m-2 w-75">
                <h4>Moderation Area</h4>
                <div class="list-group w-100">
                    <a href="/admin/comments" class="list-group-item list-group-item-action btn-admin">Delete Comment</a>
                    <a href="/admin/ratings" class="list-group-item list-group-item-action btn-admin">Delete Rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block admin_content %}{% endblock %}
{% endblock %}
